.site-header{
    @include outer-container;

    #banner-image{
        width: 100%;
        height: 16em;
        background: linear-gradient(90deg, rgba($color: beige, $alpha:0.5), rgba(0,0,0,0) 50%, rgba($color: beige, $alpha: 0.5)),
                    url(../assets/img/ru_campus.jpg);
        background-size: auto, cover;
        background-position: 50% 30%;
        display: flex;
        justify-content: left;
        padding: auto;
    }

    #title-block{
            @include span-columns(8);
            @include shift(2);
        @include media($medium-screen){
            @include shift(3);
            @include span-columns(6);            
            }
        @include media($large-screen){
            @include shift(1);
            @include span-columns(4);
            };

        display: block;
        background-color: rgba($color: $base-background-color, $alpha: 0.7);
        text-align: center;
        line-height: 3em;
        font-size: 1.5em;
        font-weight: 900;
        padding:1.5ex;
        font-variant: small-caps;
        border-radius: 3ex;
        align-self: center;
        color: black;
    }

    .logo-block{
        @include hide-visually;

        @include media($large-screen){
            @include hide-visually("unhide");
            @include shift(1);
            @include span-columns(2);
            };


        display: block;
        background-color: rgba($color: #fff, $alpha: 0.7);
        text-align: center;
        font-weight: 900;
        padding:1ex;
        font-variant: small-caps;
        border-radius: 3ex;
        align-self: center;
        color: black;
    }


}

@import "centered-nav"
