<header class="site-header">

  <a href="{{site.baseurl}}/"><div id="banner-image">
    <div class="logo-block">
      <img src="{{"/assets/img/pplogo.png" | prepend: site.baseurl}}" alt="Logo image">
    </div>
    <div id="title-block">
      <h1>Permutation Patterns<br /> 2017</h1>
      <h2> Reykjavik University</h2> 
    </div>
    <div class="logo-block">
      <img src="{{"/assets/img/pplogo.png" | prepend: site.baseurl}}" alt="Logo image">
    </div>
    </div></a>
  {%include nav.html %}
</header>
